<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title><%= dress.name %></title>
  </head>
  <body>
    <main class="container mt-5">
      <div class="container w-50 float-right" style="height: 75vh;">
        <h1 class=""><%= dress.name %></h1>
        <h5 class="ml-4 mt-5">price: $<%= dress.price %></p>
        <h5 class="ml-4 mt-5">description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo neque ac orci dapibus varius. Aenean eget euismod nulla, sed porttitor orci. Sed id metus augue. Phasellus posuere justo sit amet neque vestibulum, ut sodales nulla tempor. Nunc sit amet neque rutrum, vehicula magna sed, tincidunt lorem. Sed malesuada felis id sapien tristique, dignissim elementum magna lobortis.</h5>
        <a href="dress?n=<%= dress.name%>">
          <button  class="btn btn-primary w-25 ml-4 mt-5">buy</button>
        </a>
      </div>
      <img class="col-sm-5 mt-5" src="<%= dress.src %>">  
    </main>
 
  </body>
</html>